[{:itonami.blueprint/social-impact [:flight-safety :equipment-integrity :facility-management :operational-efficiency]
  :itonami.blueprint/domain :aviation/atc-electronics-maintenance-support
  :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
  :itonami.blueprint/isco-08 "3155"
  :itonami.blueprint/name "Air Traffic Safety Electronics Maintenance Administrative Support"
  :itonami.blueprint/governor :electronics-maintenance-governor
  :itonami.blueprint/robotics false
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-3155"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
